@charset "UTF-8";

body {
    background-color: rgb(200, 165, 233);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}
h1 {
    color: rgb(31, 2, 97);
    background-color: rgb(122, 123, 214);
    font-size: 1.5em;
}
h2 {
    color: rgb(31, 47, 190);
    font-size: 1.2em;
}
p {
    text-align: justify;
}